# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
*.swp

# Firebase / Signing
*.jks
*.keystore
google-services.json
android/key.properties

# Misc
*.lock
.env
